<div class="mdl-cell mdl-cell--12-col">
    <h4>Technology</h4>
    A non-exhaustive overview of the key technologies I have professional experience with.

    <h5 id="webframeworks">Backend Frameworks</h5>
    <ul class="toc">
        {% for tech in context.technologies}
        <a href="#{{tech.lower_case_name}}">{{tech.name}}</a>
        {% endfor %}
    </ul>

    {% for tech in context.technologies %}
        <h5 id="{{tech.lower_case_name}}">{{ tech.name }}</h5>
        {% for paragraph in tech.paragraphs %}
            <p>
                {{ paragraph }}
            </p>
        {% endfor %}
    {% endfor %}
</div>